@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-display: swap;
  src: url(InterTight-VariableFont.ttf);
}


@font-face {
  font-family: "Mylius Modern";
  font-style: normal;
  font-display: swap;
  src: url(mylius-modern-reg.ttf);
}


@font-face {
  font-family: "Mylius Keyline";
  font-style: normal;
  font-display: swap;
  src: url(mylius-keyline-small.otf);
}


