@import "../styles/variables";

.hero-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 44px 140px 88px 140px;
  flex-wrap: wrap;
  height: 100%;
  gap: initial;
  max-width: initial !important;
  position: relative;
  z-index: 0;



  button {
    width: 170px;
    height: 52px;
  }

  .content-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 100%;
    justify-content: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
    h1 {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 2.5rem;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
